# These owners will be the default owners for everything in the repo
* @chevellapraneethreddy

# Backend code owners
/backend/ @chevellapraneethreddy

# Frontend code owners
/frontend/ @chevellapraneethreddy

# Admin dashboard code owners
/admin/ @chevellapraneethreddy